<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" th:href="@{/login/images/icons/favicon.ico}"/>
<!--===============================================================================================-->


	
	<link rel="stylesheet" type="text/css" th:href="@{/login/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/login/css/main.css}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" th:action="@{/saveWildEvents}" th:object="${wildEvents}" method="POST" enctype="multipart/form-data">
					<span class="login100-form-title p-b-43">
					Add Pandora Wild Events
					</span>
					
					
					<div class="wrap-input100 validate-input" >
						<input class="input100" type="text" th:field="*{Event_name}" name="Event_name" placeholder="Event Name">
						<span class="focus-input100"></span>
						
					</div>
				
					
					
					<div class="wrap-input100 validate-input" >
						<input class="input100" type="text" th:field="*{Event_description}" name="Event_description" placeholder="Event_description">
						<span class="focus-input100"></span>
					
					</div>
					<div class="wrap-input100 validate-input" >
						<input class="input100" type="text" th:field="*{Event_time}" name="Event_time" placeholder="Event_time">
						<span class="focus-input100"></span>
					
					</div>
					<div class="wrap-input100 validate-input" >
						<input class="input100" type="text" th:field="*{Event_venue}" name="Event_venue" placeholder="Event_venue">
						<span class="focus-input100"></span>
					
					</div>
					<div class="wrap-input100 validate-input" >
						<input class="input100" type="file" name="file"  placeholder="Video">
						<span class="focus-input100"></span>
						
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
						<div>
							<a th:href="@{/register}" class="txt1">
								New user? Sign up here!							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Add
						</button>
					</div>
					
					
				</form>

				<div class="login100-more" style="background-image: url('/login/images/Pandora.webp');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	
<!--===============================================================================================-->
	<script th:src="@{/login/js/main.js}"></script>

</body>
</html>
